<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/@phosphor-icons/web"></script>
  <title>Login</title>

  <style>

    * {

      padding: 0;
      margin: 0;

    }

    body {
      height: 100vh;
    }

    .box {

      transform: translateX(-50%) translateY(-50%);

       padding: 8px 15px;

    }

    @keyframes showAlert {
      from {
        height: 0px;
        padding: 0;
        opacity: 0;
      }
      to {
        height: auto;
        opacity: 1;
      }
    }

    #alertError {
      transition: all .5s;
      animation: showAlert .3s linear;
      user-select: none;
    }

  </style>

</head>
<body class="bg-slate-700 relative">

  <div class="box pb-4 bg-slate-900 w-[360px]  absolute top-[50%] left-[50%] rounded-xl flex flex-col items-center justify-evenly">

    <i class="ph-fill ph-keyhole text-[50pt] text-blue-400 mt-2 mb-4"></i>

    <form action="logar" method="post" class="w-full flex flex-col gap-3 items-center">


      <input type="text" name="username" class="w-full outline-none rounded-xl px-3 py-5 text-center" placeholder="Username">
      <input type="password" name="password" class="w-full outline-none rounded-xl px-3 py-5 text-center" placeholder="Password">

      <div th:if="${erro != null}" id="alertError" class="bg-red-300 rounded-lg flex items-center justify-center gap-4 px-3 py-2 w-full">
        <i class="ph-fill ph-warning text-[20pt] text-red-500"></i>
        <p>Usuario ou senha invalidos!</p>
      </div>

      <button type="submit" class="w-[50%] bg-blue-400 px-3 py-5 rounded-xl">Entrar</button>

    </form>

    <div class="w-full h-[2px] my-3 bg-slate-500 opacity-50"></div>

    <div class="w-full text-white my-2 ">Não possui cadastro?
      <a href="/cadastro" class="bg-blue-400 text-black px-3 py-3 rounded-lg">Cadastre-se aqui</a>
    </div>

  </div>

</body>
</html>